<div class='category'>
  <header class='header'>
    <h1 class='title'>Total Spend</h1>
    <span class='total'><%= number_to_currency(@total) %></span>
  </header>

  <ul class='category_list'>
    <% @categories.each do |category| %>
      <li>
        <%= link_to category_expenses_path(category), class: 'category_item' do %>
          <div class='category_item-grid'>
            <div class='left'>
              <%= image_tag category.icon, width: 50, height: 50 %>
            </div>

            <div class='right'>
              <div class='rigt_grid'>
                <span class='category_name'><%= category.name %></span>
                <span class='category_total'><%= number_to_currency(category.total) %></span>
              </div>

              <span class='category_date'><%= category.created_at.strftime('%b %d, %Y') %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class='actions'>
    <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
  </div>
</div>